window {
    background-color: rgba(219, 30, 30, 0.4);
}

entry.search {
    background-color: transparent;
    color: #ece8e8;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
}

entry {
    border-radius: 0;
}

/* Make ListView transparent */
listview {
    background-color: transparent;
    color: black;
}

listview>row {
    /* turn off transition effect when navigating */
    font-family: "FiraCode Nerd Font Mono", serif;
    font-size: 28px;
    /* transition effect applied to outline, change it or remove it */
    outline: none;
}

listview>row:selected {
    background-color: rgba(94, 92, 92, .5);
    transition: none;
}

/* app-config modal styling */
.app-config {
    background-color: #c4dd24;
    border: 3px solid green;
    font-size: 28px;
}